<?xml version="1.0" encoding="GBK"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  metadata-complete="false"
  version="3.0">

  
  <display-name>jsp test</display-name>

  <welcome-file-list>
	  <welcome-file>index.html</welcome-file>
	  <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


  <context-param>
	  <param-name>driver</param-name>
	  <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
	  <param-name>url</param-name>
	  <param-value>jdbc:mysql://localhost:3306/db_test</param-value>
  </context-param>
  <context-param>
	  <param-name>user</param-name>
	  <param-value>root</param-value>
  </context-param>
  <context-param>
	  <param-name>psw</param-name>
	  <param-value>1234</param-value>
  </context-param>


  <servlet>
      <servlet-name>listn</servlet-name>
      <jsp-file>/listall.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>listn</servlet-name>
      <url-pattern>/list</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>seconds</servlet-name>
      <servlet-class>zeng.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>seconds</servlet-name>
      <url-pattern>/second</url-pattern>
  </servlet-mapping>
   
</web-app>
